#root {
  padding: 20px;
  max-width: 1320px;
  margin: 0 auto;
}

.offcanvas {
  background-color: #242424 !important;
  color: #fff !important;
}

.btn-close {
  filter: var(--bs-btn-close-white-filter);
}